<div class='row list-row'>
  <div class='row'>
    <div class='small-12 columns list-title'>
      <strong><%= list.title %></strong>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns list-body'><%= list.body %></div>
  </div>
  <% if list.user != current_user %>
    <div class='row'>
      <div class='small-12 columns'>
        <div class='right'>
          <span>shared by</span>
          <%= render partial: 'owner', object: list.user %>
        </div>
      </div>
    </div>
  <% elsif list.collaborators.any? %>
    <div class='row'>
      <div class='small-12 columns'>
        <div class='right'>
          <span>shared with</span>
          <%= render partial: 'collaborator', collection: list.collaborators %>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to '', list_path(list) %>
</div>
