<div class='row list-row'>
  <div class='row'>
    <div class='small-12 columns list-title'>
      <strong><%= list.title %></strong>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns list-body'><%= list.body %></div>
  </div>
  <% if list.user != current_user %>
    <div class='row'>
      <div class='small-12 columns list-share'>
        <span class='right'>shared by <%= list.user.email %></span>
      </div>
    </div>
  <% elsif list.collaborators.any? %>
    <div class='row'>
      <div class='small-12 columns list-share'>
        <span class='right'>shared with <%= (list.collaborators.collect { |c| c.email }).join(', ') %></span>
      </div>
    </div>
  <% end %>
  <%= link_to '', list_path(list) %>
</div>
