<div class='medium-6 medium-offset-3 small-12 columns'>

  <%= form_for([@user, @list]) do |f| %>

    <div class="row field">
      <%= f.label :title do %>Title
        <%= f.text_field :title, autofocus: true %>
      <% end %>
    </div>

    <div class="row field">
      <%= f.label :body do %>Text
        <%= f.text_area :body %>
      <% end %>
    </div>

    <div class="row">
      <%= link_to 'Cancel', user_list_path(@list.user, @list), class: 'secondary button' %>
      <%= f.submit "Save", class: 'button' %>
    </div>
  <% end %>

</div>
