<div class='medium-6 medium-offset-3 small-12 columns'>

  <div class='row'>
    <h3>Forgot your password?</h3>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row field">
      <%= f.label :email do %>Email
        <%= f.email_field :email, autofocus: true %>
      <% end %>
    </div>

    <div class="row actions">
      <%= f.submit "Send me reset password instructions", class: 'button' %>
    </div>
  <% end %>

  <div class='row'>
    <%= render "devise/shared/links" %>
  </div>

</div>
